.card1 {
    width: 243px;
    height: 198px;
    background-color: #d1874be1;
    border-radius: 6px;
    opacity: 1;
    position: relative;
}

@media(max-width:768px) {
    .card1 {
        width: 100%;
    }
}


.card1 .icon {
    position: absolute;
    left: 10px;
    top: 15px;
    background-color: #F3F5F7;
    width: fit-content;
    width: 35px;
    height: 30px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    line-height: 0;
}

.text p {
    font-size: 18px;
    color: white;
    font-family: Arial;
}

.text h1 {
    font-size: 15px;
    color: white;
    font-weight: 600;
    font-family: Arial;
}

.card2 {
    width: 243px;
    height: 198px;
    background-color: #000000;
    border-radius: 6px;
    background-origin: padding-box;
    opacity: 0.9;
    position: relative;
    overflow: hidden;
}

@media(max-width:768px) {
    .card2 {
        width: 100%;
    }
}

.cornerImage img {
    position: absolute;
    right: -29%;
    top: -25%;
}
.card2 .icon {
    position: absolute;
    left: 10px;
    top: 15px;
    background-color: #F3F5F7;
    width: fit-content;
    width: 35px;
    height: 30px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card3 {
    width: 243px;
    height: 198px;
    background-color: #000000;
    border-radius: 6px;
    background-origin: padding-box;
    opacity: 0.9;
    position: relative;
    overflow: hidden;
}

@media(max-width:768px) {
    .card3 {
        width: 100%;
    }
}

.card3 .icon {
    position: absolute;
    left: 10px;
    top: 15px;
    background-color: #F3F5F7;
    width: fit-content;
    width: 35px;
    height: 30px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.invoiceList h2 {
    font: normal normal bold 21px/24px Arial;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

table thead {
    border: 1px solid rgb(199, 199, 199);
    border-top: 1px solid rgb(199, 199, 199) !important;
}

table tbody {
    border: none !important;
    border-bottom: 1px solid #F3F5F7 !important;
}

.table thead th {
    height: 50px !important;
    padding-bottom: 15px !important;
    font: normal normal bold 14px/16px Arial !important;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.table thead .firstTd {
    position: relative;
}

.table thead th::after {
    content: "" !important;
    width: 0px !important;
    height: 0px !important;
}

.table tbody td {
    padding-top: 10px !important;
    line-height: 30px !important;
    font: normal normal normal 14px/16px Arial;
    letter-spacing: 0px;
    color: #000000DB;
    opacity: 1;
}

tbody td .eye {
    padding: 4px 7px;
    background-color: #3A60FA;
    border-radius: 9px;
    padding-bottom: 6px !important;
}

tbody td .eye i {
    color: white !important;
    font-size: 12px;
}

tbody td .delete {
    padding: 4px 7px;
    background-color: red;
    border-radius: 9px;
    /* margin-left: 5px !important; */
    padding-bottom: 6px !important;
}

tbody td .delete i {
    color: white !important;
    font-size: 12px;
}

tbody td .edit {
    padding: 4px 7px;
    background-color: black;
    border-radius: 9px;
    margin-right: 5px !important;
    padding-bottom: 6px !important;
}

tbody td .edit i {
    color: white !important;
    font-size: 12px;
}
