* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-fluid {
    width: 100%;
    height: 100vh;
    background: url('../img/images.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width:998px) {
    .container-fluid {
        height: 100vh;
    }
}

.hero {
    width: 90%;
    height: 70%;
    border-radius: 10px;
    overflow: hidden;
    opacity: 1;
    box-shadow: 7px 7px 15px 5px black;
    display: flex;
    border: 1px solid rgb(78, 77, 77);
}



.login-image {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.credentails {
    width: 50%;
    height: 100%;
    background: #FFFFFF 0% 0% no-repeat padding-box !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginInfo {
    height: auto;
}

/* dynamic logo wrapper styles */
.dynamic_logo--wrapper {
    width: 250px;
    height: 250px;
}

.dynamic_logo--static {
    position: absolute;
    top: 51%;
    left: 51%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
}

.dynamic_logo--dynamic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

/* dynamic logo wrapper styles */



@media(max-width:998px) {
    .hero {
        flex-direction: column !important;
        height: auto;
        width: 100%;
    }

    .login-image {
        width: 100%;
        padding: 35px 0;
    }

    .credentails {
        width: 100%;
        padding: 25px 0;
    }

    form {
        width: 95%;
    }

    .loginInfo {
        width: 100%;
        margin: auto;
    }

    .login-heading {
        text-align: center;
    }

    .email {
        width: 100%;
    }

    input[type='email'],
    input[type='password'] {
        width: 100% !important;
    }

    .login {
        width: 100%;
    }

    .login button {
        width: 100% !important;
    }
}

.credentails .logininfo {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.loginInfo h1 {
    font: normal normal bold 21px/24px Arial;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.loginInfo legend {
    font: normal normal bold 14px/23px Arial;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.loginInfo input[type="email"],
.loginInfo input[type="password"] {
    width: 392px;
    height: 47px;
    background: #E8E8E8 0% 0% no-repeat padding-box;
    border-radius: 6px;
    border: 0;
    padding-left: 60px;
    opacity: 1;
    outline: none;
}

.loginInfo input[type="email"],
.loginInfo input[type="password"]::placeholder {
    font-size: 13px;
}

.email {
    position: relative;
}

.email i {
    width: 33px;
    height: 29px;
    position: absolute;
    top: 40px;
    left: 10px;
    padding: 3px;
    padding-left: 9px;
    color: #d1884b;
    background-color: #fff;
    border-radius: 3px;
}

.password {
    position: relative;
}

.password i {
    width: 33px;
    height: 29px;
    position: absolute;
    top: 40px;
    left: 10px;
    padding: 3px;
    padding-left: 9px;
    color: #d1884b;
    border-radius: 3px;
    background-color: #fff;
}

.login {
    position: relative;
}

.login i {
    /* position: absolute; */
    /* left: 31%;
    top: 24%;
    color: white; */
    margin-right: 5px;
}


.selection {
    display: flex;
    align-items: center;
    justify-content: start;
}

.loginInfo input[type="checkbox"] {
    width: 34px;
    height: 17px;
    background: #E8E8E8 0% 0% no-repeat padding-box;
    border-radius: 6px;
    border: 0;
    padding-left: 80px;
    opacity: 1;
}

.loginInfo label {
    font: normal normal normal 14px/23px Arial;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.loginInfo button {
    width: 392px;
    height: 47px;
    background: #d1884b 0% 0% no-repeat padding-box;
    border-radius: 6px;
    border: 0;
    color: white;
    opacity: 1;
    font: normal normal bold 15px/23px Arial;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
