@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@font-face {
    font-family: Lato;
    src: url(./Lato-Regular.ttf);
}
.container {
    --bs-gutter-x: 0rem !important;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.receipt_logo {
    width: 223px;
    height: 163px;
    margin: auto;
}
.receipt_logo img {
    width: 100%;
    height: 100%;
}
.hero_text {
    width: 600px;
    margin: auto;
    text-align: center;
}
.hero_text h2 {
    font: normal normal 700 30px/0px Poppins;
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;
    opacity: 1;
}
.hero_text h1 {
    font-size: 22px;
    line-height: 3;
    font-weight: 500;
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;
    opacity: 1;
}
/* boxes styles */
.boxes {
    width: 100%;
    max-width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 42px !important;
    border-bottom: 2px dashed rgba(128, 128, 128, 0.388);
}
.box {
    width: 25vw;
    height: 45px;
}
.box p {
    font: normal normal 600 15px/0px Lato;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    text-align: center;
}
.box small {
    width: 252px;
    height: 45px;
    border: 1px solid #BB1A1A;
    border-radius: 4px;
    display: inline-block;
    opacity: 1;
    font: normal normal normal 12px/27px Lato;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.boxes_2 {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center !important;
    justify-content: center;
    gap: 72px;
}
.box_2 {
    width: 402px;
    height: 250px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.box_2 small {
    width: 133px;
    height: 41px;
    border: 1px solid #BB1A1A;
    border-radius: 3px;
    display: inline-block;
    opacity: 1;
    font: normal normal 600 18px/36px Lato;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.Driver {
    width: 392px;
    height: auto;
    border: 1px solid #404040;
    border-radius: 2px;
    opacity: 1;
}
.Driver h1 {
    font: normal normal bold 16px/25px Lato;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
Driver p {
    font: normal normal bold 13px/0px Lato;
    letter-spacing: 0px;
    margin-top: 15px;
    color: #000000;
    opacity: 1;
}
.Driver small {
    width: 100%;
    height: 38px;
    display: inline-block;
    line-height: 38px;
    padding-left: 10px;
    border: 1px solid #BB1A1A;
    border-radius: 4px;
    opacity: 1;
    font-size: 13px;
    font-weight: 500;
}
.contact_ancestor {
    display: flex;
    justify-content: space-between;
}
.number_p {
    font: normal normal bold 13px/5px Lato;
    letter-spacing: 0px;
    margin-top: 15px;
    color: #000000;
    opacity: 1;
}
.number_s {
    width: 170px;
    height: 38px;
    display: inline-block;
    line-height: 38px;
    padding-left: 10px;
    border: 1px solid #BB1A1A;
    border-radius: 4px;
    opacity: 1;
    font-size: 13px;
    font-weight: 500;
}
.registration_p {
    font: normal normal bold 13px/5px Lato;
    letter-spacing: 0px;
    margin-top: 15px;
    color: #000000;
    opacity: 1;
}
.registration_s {
    width: 175px;
    height: 38px;
    display: inline-block;
    line-height: 38px;
    padding-left: 10px;
    border: 1px solid #BB1A1A;
    border-radius: 4px;
    opacity: 1;
    font-size: 13px;
    font-weight: 500;
}
/* qr code styles */
.boxes_2 img {
    margin-top: 50px;
    width: 206px;
    height: 206px;
    opacity: 1;
}
/* table styles */
.table {
    width: 100%;
    margin-top: 60px !important;
    margin: auto;
}
thead tr th {
    background-color: #BB1A1A !important;
    color: white !important;
    font: normal normal bold 15px/42px Lato;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: capitalize;
    opacity: 1;
    text-align: center;
}
tbody tr td {
    text-align: center;
    font: normal normal bold 15px/25px Lato;
    letter-spacing: 0px;
    color: #000000;
    text-transform: capitalize;
    opacity: 1;
}
tbody tr td span {
    text-align: start !important;
    font: normal normal normal 9px/4px Lato;
    letter-spacing: 0px;
    color: #000000;
    text-transform: capitalize;
    opacity: 1;
}
/* term section styles */
.TermSection {
    width: 100%;
    display: flex;
    align-items: center;
}
.terms {
    width: 80%;
    height: 204px;
    border: 1px solid #404040;
    border-radius: 4px;
    opacity: 1;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.stacks {
    width: 20%;
    height: 204px;
    opacity: 1;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 38px;
}
.stacks .stack {
    width: 100%;
    border: 1px solid #707070;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}
.stacks .stack::before {
    content: "";
    width: 3px;
    height: 22px;
    background-color: #BB1A1A;
    position: absolute;
    left: 55%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.stacks .stack p {
    font: normal normal bold 14px/10px Lato;
    letter-spacing: 0px;
    margin-top: 15px;
    color: #000000;
    opacity: 1;
}
.stacks .stack small {
    font: normal normal normal 12px/10px Lato;
    letter-spacing: 0px;
    margin-top: 15px;
    color: #000000;
    opacity: 0.9;
    margin-bottom: 14px;
}
.terms h1 {
    font: normal normal bold 20px Lato;
    letter-spacing: 0px;
    color: #000000;
    text-transform: capitalize;
    opacity: 1;
}
.terms p {
    opacity: 0.6;
    font-size: 14px;
}
/* bank section styles */
.bankSection {
    width: 100%;
    border: 1px solid #404040;
    border-radius: 4px;
    opacity: 1;
    padding: 12px;
}
.bankSection h1 {
    font: normal normal bold 25px/54px Lato;
    letter-spacing: 0px;
    color: #000000;
    text-transform: capitalize;
    opacity: 1;
}
/* boxes 3 styles */
.boxes_3 {
    width: 100%;
    max-width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px !important;
}
/* company styles */
.companySection {
    position: relative;
}
.companySection h1 {
    font: normal normal bold 25px/54px Lato;
    letter-spacing: 0px;
    color: #000000;
    text-transform: capitalize;
    opacity: 1;
}
.companySection img {
    width: 100px;
    height: 100px;
    position: absolute;
    right: 0;
    top: -10%;
}
/* receipt styles */
.receipt_buttons {
    width: fit-content;
    position: absolute;
    left: 7%;
    top: 10% !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.receipt_buttons a {
    width: 140px;
    height: 38px;
    background: #BB1A1A 0% 0% no-repeat padding-box;
    text-decoration: none;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    border: 0;
    color: white;
    margin-left: 10px;
}
/* footer styles */
footer {
    background-color: #BB1A1A;
    color: white;
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer h1 {
    font: normal normal normal 20px/34px Lato;
    word-spacing: 5px;
    letter-spacing: 0px;
    color: #ffffff;
    text-transform: capitalize;
    opacity: 1;
}
footer p {
    text-align: center;
    font-weight: 500 !important;
    font: normal normal 13px/17px Poppins;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
