:root {
    scroll-behavior: smooth;
}

body {
    background: #F3F5F7 0% 0% no-repeat padding-box;
    opacity: 1;
    color: #444444;
}



a {
    color: #4154f1;
    text-decoration: none;
}

a:hover {
    color: #717ff5;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Nunito", sans-serif;
}

/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
#main {
    padding: 20px 40px;
    transition: all 0.3s;
    position: fixed;
    overflow: auto;
    height: calc(100vh - 60px);
    height: 100%;
    scrollbar-width: thin;
    scrollbar-color: #D1884B transparent;
    width: calc(100vw - 255px);
}

@media(max-width:1200px) {
    #main {
        width: 100vw;
    }
}

#main::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #F3F5F7;
}

#main::-webkit-scrollbar-thumb {
    background-color: #D1884B;
    border-radius: 100px !important;
}

@media (max-width: 1199px) {
    #main {
        padding: 20px;
    }
}

/* first inputs styles */
.first_inputs {
    display: flex;
    align-items: center;
    gap: 30px;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
    transition: all 0.5s;
    z-index: 997;
    height: 60px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    width: calc(100vw - 255px);
    border-bottom: 1px solid rgba(128, 128, 128, 0.146);
}

.header .toggle-sidebar-btn {
    font-size: 32px;
    padding-left: 10px;
    cursor: pointer;
    color: #012970;
}

@media(min-width:1200px) {
    .header .toggle-sidebar-btn {
        display: none;
    }
}

@media(max-width:1201px) {
    .header .toggle-sidebar-btn {
        display: block;
    }
}

.header .search-bar {
    position: relative;
}

.header .search-bar i {
    position: absolute;
    left: 5%;
    top: 15%;
    color: gray;
    opacity: 0.7;
    font-size: 18px;
}

.header .search-bar input {
    width: 225px;
    height: 38px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 6px;
    border: 0;
    font-size: 13px !important;
    opacity: 1;
    padding-left: 35px;
}

.header .search-bar input::placeholder {
    color: gray;
    font: normal normal normal 12px/14px Arial;
    opacity: 0.6;
}

.header .search-bar input:focus {
    outline: none;
}

/* user profile styles */
.header .user-profile {
    width: 144px;
    height: 38px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
    display: flex;
    align-items: center;
    gap: 7px;
}

.header .user-profile img {
    width: 25px;
    max-width: 25px;
    border-radius: 50%;
    object-fit: cover;
    height: 25px;
}

.user-info {
    line-height: 0;
}

.header .user-profile p {
    font: normal normal bold 12px/14px Arial;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    height: 0;
}

.header .user-profile small {
    font: normal normal normal 10px/11px Arial;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    height: 0;
}

.header .settingIcon {
    width: 49px;
    height: 38px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .settingIcon i {
    color: #D1884B;
    font-size: 24px;
}

.header .logoutIcon {
    width: 49px;
    height: 38px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .logoutIcon i {
    color: #D1884B;
    font-size: 24px;
}

/*--------------------------------------------------------------
# Header Nav
--------------------------------------------------------------*/
.header-nav ul {
    list-style: none;
    gap: 10px;
}

.header-nav>ul {
    margin: 0;
    padding: 0;
}

/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
.sidebar {
    position: fixed;
    top: 0px;
    left: 0;
    bottom: 0;
    width: 255px;
    z-index: 996;
    transition: all 0.3s;
    padding: 20px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #D1884B transparent;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}

@media (max-width: 1199px) {
    .sidebar {
        left: -300px;
    }
}

.sidebar::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #fff;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #D1884B;
    border-radius: 100px !important;
}

@media (min-width: 1200px) {

    #main,
    #footer {
        margin-left: 256px;
    }
}

@media (max-width: 1199px) {
    .toggle-sidebar .sidebar {
        left: 0;
    }
}

@media (min-width: 1200px) {

    .toggle-sidebar #main,
    .toggle-sidebar #footer {
        margin-left: 0;
    }

    .toggle-sidebar .sidebar {
        left: -300px;
    }
}

.sidebar-nav {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebar-nav li.mainLogo {
    width: 100%;
    max-width: 100%;
}

.sidebar-nav li.mainLogo a {
    width: 150px;
    max-width: 150px;
    height: 150px;
}

.sidebar-nav li.mainLogo img {
    width: 100%;
    max-width: 100%;
    height: 100%;
}

.sidebar-nav li p {
    font: normal normal bold 15px/17px Arial;
    letter-spacing: 0px;
    color: #0000008F;
    opacity: 1;
}

.sidebar-nav li h1 {
    color: black;
    font: normal normal bold 40px/45px Arial;
    letter-spacing: 0px;
    opacity: 1;
    line-height: 0.7;
}

.sidebar-nav li h1 span {
    font: normal normal normal 14px/16px Arial;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.sidebar-nav li {
    padding: 0;
    margin: 11px 0;
    list-style: none;
}

.sidebar-nav .page1,
.sidebar-nav .page2,
.sidebar-nav .page3 {
    width: 203px;
    height: 41px;
    border-radius: 6px;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 15px;
}

.sidebar-nav .page1 .button,
.sidebar-nav .page2 .button,
.sidebar-nav .page3 .button {
    width: 203px;
    height: 41px;
    border-radius: 6px;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 15px;
}

.sidebar-nav .page1 .button:hover,
.sidebar-nav .page2 .button:hover,
.sidebar-nav .page3 .button:hover {
    background: #d2d4db44 0% 0% no-repeat padding-box;
    width: 203px;
    height: 41px;
    border-radius: 6px;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 15px;
}

.sidebar-nav .page1 a span,
.sidebar-nav .page2 a span,
.sidebar-nav .page3 a span {
    font: normal normal normal 16px/18px Arial;
    letter-spacing: 0px;
    opacity: 1;
}

.sidebar-nav .page1.active,
.sidebar-nav .page2.active,
.sidebar-nav .page3.active {
    background: #D1884B 0% 0% no-repeat padding-box;
}

.sidebar-nav .page1 .button.active,
.sidebar-nav .page2 .button.active,
.sidebar-nav .page3 .button.active {
    background: #D1884B 0% 0% no-repeat padding-box;
}

.sidebar-nav .page1 img,
.sidebar-nav .page2 img,
.sidebar-nav .page3 img {
    margin-bottom: 7px !important;
}

.sidebar-nav .page1 img.active,
.sidebar-nav .page2 img.active,
.sidebar-nav .page3 img.active {
    filter: invert(1) !important;
}

.sidebar-nav .page1 a,
.sidebar-nav .page2 a,
.sidebar-nav .page3 a {
    color: black;
    font-weight: 400;
}

.sidebar-nav .page1 a.active,
.sidebar-nav .page2 a.active,
.sidebar-nav .page3 a.active {
    color: white;
    width: 223px;
    height: 41px;
    border-radius: 6px;
    font-weight: 400;
    display: flex;
    align-items: center;
}

/* create  page styles */
.pagetitle h1 {
    font: normal normal bold 21px/24px Arial;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.invoiceNumber {
    line-height: 0;
}

.invoiceNumber p {
    font: normal normal bold 13px/15px Arial;
    letter-spacing: 0px;
    color: #000000 !important;
    opacity: 1;
    line-height: 0;
}

.invoiceNumber h4 {
    width: 94px;
    height: 38px;
    background: #D4D4D4 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font: normal normal normal 12px/14px Arial;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.paymentStatus {
    line-height: 0;
    margin-bottom: 7px;
}

.paymentStatus p {
    font: normal normal bold 13px/15px Arial;
    letter-spacing: 0px;
    color: #000000 !important;
    opacity: 1;
    line-height: 0;
}

.paymentStatus select {
    width: 94px;
    height: 38px;
    background: white 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font: normal normal normal 12px/14px Arial;
    letter-spacing: 0px;
    color: gray;
    opacity: 1;
    border: 0;
    padding: 4px;
}

.paymentStatus select:focus {
    outline: none;
}

/* inputs styles */
.inputs legend {
    font: normal normal normal 13px/15px Arial;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.date {
    width: 100%;
    height: 38px;
    background: #D4D4D4 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
    font-size: 14px;
    border: 0;
    padding-left: 20px;
    padding-right: 20px !important;
}

.date:focus {
    outline: none;
}

.time {
    width: 100%;
    height: 38px;
    background: #D4D4D4 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
    font-size: 14px;
    border: 0;
    padding-left: 20px;
    padding-right: 20px !important;
}

.time:focus {
    outline: none;
}

.name {
    width: 100%;
    height: 38px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
    font-size: 14px;
    border: 0;
    padding-left: 20px;
}

.name::placeholder {
    opacity: 0.6;
    font-size: 13px;
}

.name:focus {
    outline: none;
}

.email {
    width: 100%;
    height: 38px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
    font-size: 14px;
    border: 0;
    padding-left: 20px;
}

.email::placeholder {
    opacity: 0.6;
    font-size: 13px;
}

.email:focus {
    outline: none;
}

.number {
    width: 100%;
    height: 38px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
    font-size: 14px;
    border: 0;
    padding-left: 20px;
}

.number::placeholder {
    opacity: 0.6;
    font-size: 13px;
}

.number:focus {
    outline: none;
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

/* buttons group styles */
.buttons_group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons_group1 {
    display: flex;
    align-items: center;
    gap: 20px;
}

.buttons_group2 {
    display: flex;
    align-items: center;
    gap: 20px;
}

.totalPriceLast {
    line-height: 0;
}

.totalPriceLast p {
    font: normal normal bold 13px/15px Arial;
    letter-spacing: 0px;
    color: #000000 !important;
    opacity: 1;
    line-height: 0;
}

.totalPriceLast h4 {
    width: 141px;
    height: 38px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E8E8E8;
    border-radius: 6px;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font: normal normal normal 14px/16px Arial;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.totalPriceLast select {
    width: 141px;
    height: 38px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E8E8E8;
    border-radius: 6px;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font: normal normal normal 14px/16px Arial;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.buttons_group .generate {
    width: 140px;
    height: 38px;
    background: #D1884B 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
    border: 0;
    font: normal normal bold 14px/16px Arial;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.buttons_group .save {
    width: 140px;
    height: 38px;
    background: black 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
    border: 0;
    font: normal normal bold 14px/16px Arial;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.buttons_group .add {
    width: 104px;
    height: 38px;
    background: #D1884B 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
    border: 0;
    font: normal normal bold 14px/16px Arial;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

/* table styles */
.userData {
    margin-left: 2px;
    width: 100%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
}

.table thead th {
    border: none !important;
    border-top: none;
    position: relative;
    font: normal normal bold 15px/15px Arial;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    text-align: center;
}

.table thead th::after {
    content: "";
    width: 2px;
    height: 30px;
    background-color: #F3F5F7;
    position: absolute;
    right: 7px;
    bottom: 8px;
}

@media(max-width:780px) {
    .table thead th::after {
        display: none;
    }
}

.table thead {
    border-top: 1px solid white;
}

tbody tr td input[type='text'] {
    width: 191px;
    height: 38px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E8E8E8;
    border-radius: 6px;
    opacity: 1;
}

tbody tr .quantity {
    width: 41px;
    height: 38px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E8E8E8;
    border-radius: 6px;
    opacity: 1;
}

tbody tr .tax {
    width: 53px;
    height: 38px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E8E8E8;
    border-radius: 6px;
    opacity: 1;
}

tbody tr .totalPrice {
    width: 50%;
    height: 38px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E8E8E8;
    border-radius: 6px;
    opacity: 1;
}

tbody tr .subTotal {
    width: 98px !important;
    height: 38px !important;
    background: #FFFFFF 0% 0% no-repeat padding-box !important;
    border: 1px solid #E8E8E8 !important;
    border-radius: 6px !important;
    opacity: 1 !important;
}

tbody tr .carType {
    width: 185px !important;
    height: 38px !important;
    background: #FFFFFF 0% 0% no-repeat padding-box !important;
    border: 1px solid #E8E8E8 !important;
    border-radius: 6px !important;
    opacity: 1 !important;
}

tbody tr .description {
    width: 100% !important;
    height: 38px !important;
    background: #FFFFFF 0% 0% no-repeat padding-box !important;
    border: 1px solid #E8E8E8 !important;
    border-radius: 6px !important;
    opacity: 1 !important;
}

tbody tr .services {
    width: 131px !important;
    height: 38px !important;
    background: #FFFFFF 0% 0% no-repeat padding-box !important;
    border: 1px solid #E8E8E8 !important;
    border-radius: 6px !important;
    opacity: 1 !important;
}

tbody tr td {
    text-align: center;
    font-size: 14px;
}

tbody {
    border: 1px solid white;
}

tbody tr td input {
    outline: none;
    padding-left: 10px;
}

tbody tr td input::placeholder {
    font-size: 13px;
    opacity: 0.6;
}

tbody tr td input:focus {
    outline: none;
}

/* global buttons styles */
.present {
    width: 66px;
    height: 26px;
    background: #32AA00 0% 0% no-repeat padding-box;
    border: 1px solid #E8E8E8;
    border-radius: 3px;
    color: white;
    opacity: 1;
    font: normal normal normal 12px/14px Arial;
    letter-spacing: 0px;
    opacity: 1;
    cursor: default !important;
}

.absent {
    width: 66px;
    height: 26px;
    background: red 0% 0% no-repeat padding-box;
    border: 1px solid #E8E8E8;
    border-radius: 3px;
    color: white;
    opacity: 1;
    font: normal normal normal 12px/14px Arial;
    letter-spacing: 0px;
    opacity: 1;
    cursor: default !important;
}

.deleteIcon {
    border: 0;
    background-color: transparent;
}

tbody tr td button.createDelete {
    width: 100%;
    height: 38px;
    background: #D1884B 0% 0% no-repeat padding-box;
    border: 1px solid #E8E8E8;
    border-radius: 6px;
    color: white;
    opacity: 1;
}
